<ion-content padding>
  <div text-center class="page-title">
    <div>Office</div>
    <div>Management</div>
  </div>
  <form [formGroup]="loginForm">
    <ion-item no-padding>
      <ion-input name="email" formControlName="email" placeholder="Enter email"></ion-input>
    </ion-item>
    <p *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" class="alert alert-danger text-ios-danger">
      {{ errorSrv.getErrorMessage(loginForm, 'email', validation_messages) }}
    </p>

    <ion-item no-padding>
      <ion-input name="password" type="password" formControlName="password" placeholder="Enter password"></ion-input>
    </ion-item>
    <p *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger text-ios-danger">
      {{ errorSrv.getErrorMessage(loginForm, 'password', validation_messages) }}
    </p>

    <ion-item no-lines>
      <ion-label text-right class="forgot-btn">
        <span (click)="forgotClick()">Forgot password?</span>
      </ion-label>
    </ion-item>

    <button ion-button color="orange" type="submit" block
                (click)="submitLogin()"  [disabled]="!loginForm.valid">Login
    </button>

  </form>

  <section class="bottom-buttons" text-center>

      <ion-label color="white" (click)="registerClick()">Have no account yet?</ion-label>

      <ion-label color="white" (click)="submitLogin('jimuya@cliptik.net','12345')">Test login</ion-label>

  </section>

</ion-content>
