page-main {
  $text-color: red;
  ion-content {
    ion-card {
      box-shadow: none !important;
      background-color: #232f34 !important;
      .canvas-container {
        width: 70%;
        height: 40%;
        margin: 0 auto;
      }
      .price-card {
        position: relative;
        color: #fff;
        .price-card-content {
          position: absolute;
          top: 0vh;
          left: 0vh;
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          .price-card-cost {
            font-size: 2.5rem;
            margin: 2vh 0;
          }
        }
      }
    }
    .product-list {
      background: #fff;
      border-radius: 15px 15px 0 0;
      padding: 10px !important;
      min-height: 50%;
      ion-list {
        background: #fff;
        padding-bottom: 4px;
        .list-title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 2vh;
          align-items: center;
          color: #232f34;
        }
        .tr-cont-lvl1 {
          padding: 2px 0;
        }
        .transaction-container {

          display: flex;
          color: #33333D;
          justify-content: space-between;
          .col:nth-last-child(1) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          &.enable-edit {
            .container-icons {
              display: block;
            }
            .cost {
              display: none;
            }
          }
          .container-icons {
            display: none;
          }
          .edit-button,
          .delete-button{
            display: inline-block;
            color: #fff;
            background: #f9aa33;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px 0 0 8px;
            ion-icon {
              font-size: 20px;
            }
          }
          .delete-button {
            background-color: #ba2f00;
          }
          .datetime {
            color: #b4b4b4;
          }
          .col-left {
            border-left-width: 4px;
            border-left-style: solid;
            padding: 0 8px;
          }
        }
      }
    }
    ion-fab {
      &.add-btn{
        z-index: 100;
        button {
          background-color: #f9aa33 !important;
          color: #232f34!important;
        }
      }
    }
    ion-infinite-scroll-content {
      background-color: #fff;
    }
  }
  ion-footer {
    ion-toolbar {
      .toolbar-content {
        display: flex;
        justify-content: space-between;
      }
      .toolbar-background {
        background: #344955;
      }
      button {
        color: #fff !important;
      }
    }
  }
  .decrease-color {
    color: #ba2f00;
  }
  .increase-color {
    color: #006500;
  }
  .cancel-filter {
    color: #000;
    border-radius: 10px;
    padding: 3px 15px;
    margin-top: 1px;
    border: 1px solid #000;
    font-size: 1.2rem;
    //text-decoration: line-through;
  }
  .col-left {
    border-left-width: 4px;
    border-left-style: solid;
    padding: 0 8px;
  }
  .info-card {
    transform: translateY(-5vh);
    .info-container {
      padding: 10px;
      color: #fff;
      text-transform: capitalize;
      font-size: 1.4rem;
      //background-color: #fff;
    }
  }

}
