page-add-transaction {
  ion-header {
    ion-navbar.toolbar {
      button,
      .toolbar-title{
        color: #fff;
      }
      .toolbar-background {
        background: #344955;
      }
    }
  }
  ion-content {
    .input-container {
      height: 60px;
    }
    ion-item {
      padding: 0 !important;
      .item-inner {
        background-color: #232f34 !important;
        padding: 0 !important;
        input,
        ion-label,
        .select-text,
        .select-placeholder,
        .select-icon-inner {
          color: #fff!important;
        }
      }
      input {
        outline: none;
      }
    }
    .buttons-wrap {
      margin-top:15vh;
      button {
        color: #fff;
        &.sbt-btn {
          background-color: #f9aa33!important;
        }
      }
    }
  }
  ion-select {
    text-transform: capitalize;
  }
}
.alert-wrapper {
  .alert-radio-group {
    .button-inner {
      .alert-radio-label {
        text-transform: capitalize;
      }
    }
  }
}
