<ion-content padding>
  <div text-center class="page-title">
    <div>Office</div>
    <div>Management</div>
  </div>
  <ion-list>
    <form [formGroup]="regForm">
      <div class="input-container">
        <ion-item>
          <ion-input class="form-control" id="username" formControlName="username"
                     placeholder="Enter username"></ion-input>
        </ion-item>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" color="alert">
          <span class="text-ios-danger">{{ errorSrv.getErrorMessage(regForm, 'username', validation_messages) }}</span>
        </div>
      </div>
      <div class="input-container">
        <ion-item>
          <ion-input name="email" formControlName="email" placeholder="Enter email"></ion-input>
        </ion-item>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" class="alert">
          <span class="text-ios-danger">{{ errorSrv.getErrorMessage(regForm, 'email', validation_messages) }}</span>
        </div>
      </div>
      <div formGroupName="matchingPasswords">
        <div class="input-container">
          <ion-item>
            <ion-input name="password" type="password" formControlName="password"
                       placeholder="Enter password"></ion-input>
          </ion-item>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" color="danger"
               class="alert alert-danger">
            <span class="text-ios-danger">{{ errorSrv.getErrorMessage(regForm.get('matchingPasswords'), 'password', validation_messages) }}</span>
          </div>
        </div>
        <div class="input-container">
          <ion-item>
            <ion-input name="confirm_password" type="password" formControlName="confirm_password"
                       placeholder="Confirm password"></ion-input>
          </ion-item>
          <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" color="danger"
               class="alert alert-danger">
            <!--<span class="text-ios-danger">{{ getErrorMessage('confirm_password') }}</span>-->
            <span class="text-ios-danger">{{ errorSrv.getErrorMessage(regForm.get('matchingPasswords'), 'confirm_password', validation_messages) }}</span>
          </div>
          <div *ngIf="password.valid && confirm_password.valid && regForm.get('matchingPasswords').invalid"
               class="alert">
            <span class="text-ios-danger">Passwords do not match</span>
          </div>
        </div>
      </div>

      <ion-label class="submit-btn-container" text-center>
        <button ion-button class="submit-btn ion-col-3" no-padding
                (click)="submitRegister()" clear [disabled]="!regForm.valid">Create account
        </button>
      </ion-label>
    </form>

  </ion-list>
  <ion-label class="login-btn" text-center (click)="loginClick()">Already have one? Sign in</ion-label>
</ion-content>
