page-settings {
  ion-navbar {
    .toolbar-background {
      background-color: #383840;
    }
    button,
    .toolbar-title {
      color: #fff !important;
    }
  }
  ion-content {
    background-color: #33333D !important;
  }
  .confirm-btn {
    .button-inner {
      margin-left:-1vh!important;
    }
  }
  form {
    background-color: #33333D;
    .input-container {
      span {
        margin-left: 2vh;
      }
      ion-icon {
        margin-left: 2vh;
      }
    }
    ion-item {
      background: #33333D !important;
      color: #fff;
      text-align: center;
      padding: 0 !important;
      ion-label {
        text-align: center;
        color: #fff;
      }
    }
    .alert {
      color: #a6a6a6;
    }
  }
  .input-container {
    color: #fff;
    text-align: center;
    ion-input {
      border-bottom-color: transparent;
    }
    button {
      border: 1px solid #fff;
      border-radius: 50%;
      width: 5vh;
      height: 5vh;
      padding: 3vh;
      ion-icon {
        color: #fff;
        border: none;
        font-size: 4vh;
      }
    }
    .form-control {
      color: #fff;
    }
  }
  .submit-btn {
    color: #fff;
    font-weight: 700;
  }
  .input-container {
    height: 10vh;
  }
  .check-icon {
    border: 1px solid #fff;
    border-radius: 50%;
  }
  ion-input {
    border-bottom: 1px solid #fff;
  }

  .img-container {
    background: #33333D;
  }
  ion-item.btn {
    ion-button {
      margin: 0 auto;
      --box-shadow: none;
      border: 1px solid #DB952B;
      border-radius: 5px;
      //width: 60%;
      button {
        text-align: center !important;
      }
    }
  }
  .change-btn {
    background-color: transparent;
    border: 1px solid #FFCB37 !important;
    border-radius: 5px;
    .item-inner {
      height: 0px;
    }
  }
  .logout-btn {
    margin-top: 5vh;
    .item-inner{
      padding: 0!important;
      ion-label {
        margin: 0;
        button.submit-btn {
          margin: 0!important;
          height: 6vh;
        }
      }
    }
    button {
      width: 100%;
    }
  }
}
