page-forgot {
  ion-header {
    ion-navbar.toolbar {
      button,
      .toolbar-title{
        color: #fff;
      }
      .toolbar-background {
        background: #344955;
      }
    }
  }
  ion-content {
    .sbt-btn {
      margin-top:20px;
    }
  }
}
